name: xhydro-dev
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.13
  # Don't forget to sync changes between environment.yml, environment-dev.yml, and pyproject.toml!
  # Main packages
  - cartopy
  - geopandas
  - haversine
  - importlib-metadata <8.0  # Required for xesmf >=8.4.0,<8.6 to work on Windows
  - leafmap
  - numpy <2.0.0
  - pandas >=2.2.0
  - planetary-computer
  - pystac
  - pystac-client
  - pooch >=1.8.0
  - pydantic >=2.0,<2.5.3  # FIXME: Remove pin once our dependencies (xclim, xscen) support pydantic 2.5.3
  - pyyaml
  - rasterio
  - ravenpy >=0.15.0
  - rioxarray
  - s3fs <=2024.6.1
  - spotpy
  - stackstac >=0.5.1
  - statsmodels
  - tqdm
  - xarray >=2023.11.0
  - xarray-spatial
  - xclim >=0.48.2
  - xdatasets >=0.3.6
  - xscen >=0.8.3
  - xvec
  # Dev tools and testing
  - pip >=24.2.0
  - blackdoc ==0.3.9
  - bump-my-version >=0.25.1
  - coverage >=7.5.0
  - coveralls >=4.0.1
  - flake8 >=7.1.1
  - flake8-rst-docstrings >=0.3.0
  - furo
  - ipykernel
  - ipython
  - isort ==5.13.2
  - jupyter_client
  - lmoments3
  - nbsphinx
  - nbval >=0.11.0
  - numpydoc >=1.8.0
  - pandoc
  - pre-commit >=3.5.0
  - pytest >=8.3.2
  - pytest-cov >=5.0.0
  - black  # ==24.8.0 # Waiting on https://github.com/conda-forge/black-feedstock/pull/89
  - ruff >=0.5.7
  - watchdog >=4.0.0
  - sphinx >=7.0.0
  - sphinx-autoapi
  - sphinx-codeautolink
  - sphinx-copybutton
  - sphinx-intl
  - sphinxcontrib-napoleon
  # Testing
  - tox >=4.17.1
  # Packaging
  - flit >=3.9.0,<4.0
  # Notebooks
  - hvplot
  - xagg
