name: xhydro-dev
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.13
  # Don't forget to sync changes between environment.yml, environment-dev.yml, and pyproject.toml!
  # Main packages
  - cartopy >=0.23.0
  - geopandas >=1.0
  - haversine >=2.8.1
  - importlib-metadata <8.0  # Required for xesmf >=8.4.0,<8.6 to work on Windows
  - leafmap
  - numpy >=1.24
  - pandas >=2.2
  - planetary-computer
  - pooch >=1.8.0
  - pystac
  - pystac-client
  - pyyaml >=6.0.2
  - rasterio <=1.3.11  # temporary pin until https://github.com/xarray-contrib/xvec/issues/85 is addressed.
  - ravenpy >=0.15.0
  - rioxarray >=0.15.0
  - spotpy >=1.6.2
  - stackstac >=0.5.1
  - statsmodels >=0.14.0
  - tqdm
  - xarray >=2023.11.0
  - xarray-spatial >=0.3.7
  - xclim >=0.53.2,<0.54
  - xdatasets >=0.3.6
  - xscen >=0.10.1,<0.11
  - xvec
  # Julia
  - julia >=1.6.0
  - pyjuliacall >=0.9.20
  # Dev tools and testing
  - pip >=24.2.0
  - blackdoc ==0.3.9
  - bump-my-version >=0.25.1
  - coverage >=7.5.0
  - coveralls >=4.0.1
  - flake8 >=7.1.1
  - flake8-rst-docstrings >=0.3.0
  - furo
  - ipykernel
  - ipython >=8.5.0
  - isort ==5.13.2
  - jupyter_client
  - lmoments3 >=1.0.7
  - nbsphinx
  - nbval >=0.11.0
  - numpydoc >=1.8.0
  - pandoc
  - packaging >=23.0
  - pre-commit >=3.5.0
  - pytest >=8.3.2
  - pytest-cov >=5.0.0
  - pytest-xdist >=3.2
  - black ==24.8.0
  - ruff >=0.5.7
  - watchdog >=4.0.0
  - sphinx >=7.0.0
  - sphinx-autoapi
  - sphinx-codeautolink
  - sphinx-copybutton
  - sphinx-intl
  - sphinxcontrib-napoleon
  # Testing
  - tox >=4.17.1
  # Packaging
  - flit >=3.9.0,<4.0
  # Notebooks
  - hvplot
  - xagg
