name: xhydro
channels:
  - conda-forge
dependencies:
  - python >=3.9,<3.13
  # Don't forget to sync changes between environment.yml, environment-dev.yml, and pyproject.toml!
  # Main packages
  - numpy
  - pooch >=1.8.0
  - pydantic >=2.0,<2.5.3  # FIXME: Remove pin once our dependencies (xclim, xscen) support pydantic 2.5.3
  - spotpy
  - statsmodels
  - xarray >=2023.11.0
  - xclim >=0.48.2
  - xscen >=0.8.3
  - pip
  - pip:
    - xdatasets >=0.3.1
