name: xhydro
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.13
  - pip >=24.2.0
  # Don't forget to sync changes between environment.yml, environment-dev.yml, and pyproject.toml!
  # Main packages
  - cartopy
  - geopandas
  - haversine
  - importlib-metadata <8.0  # Required for xesmf >=8.4.0,<8.6 to work on Windows
  - leafmap
  - numpy <2.0.0
  - pandas >=2.2.0
  - planetary-computer
  - pooch >=1.8.0
  - pydantic >=2.0,<2.5.3  # FIXME: Remove pin once our dependencies (xclim, xscen) support pydantic 2.5.3
  - pystac
  - pystac-client
  - pyyaml
  - rasterio
  - ravenpy >=0.15.0
  - rioxarray
  - spotpy
  - stackstac >=0.5.1
  - statsmodels
  - tqdm
  - xarray >=2023.11.0
  - xarray-spatial
  - xclim >=0.48.2
  - xdatasets >=0.3.5
  - xscen >=0.8.3
  - xvec
