include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include .zenodo.json

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include docs *.ipynb
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs apidocs *.rst
recursive-exclude docs _build *

exclude .coveralls.yml
exclude .cruft.json
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .yamllint.yaml
exclude Makefile
exclude environment.yml
exclude environment-dev.yml
exclude tox.ini
